{% extends 'base.html.twig' %}

{% block title %}3iSports{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    <!-- Demo styles -->
    <style>
      {# html,
      body {
        position: relative;
        height: 100%;
      } #}

      {# body {
        background: red;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      } #}

    </style>
  </head>

  {# <div id="news" class="news"> #}
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"> <a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"> <a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
        <div class="swiper-slide"><a href=""><img src="https://via.placeholder.com/450"></div>
      </div>
      <div class="swiper-pagination"></div>
  {# </div> #}
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}